.nav{
    display: flex;
    justify-content: center;
    padding: 2%;
    background-color: rgb(68, 69, 69);
}
.link{
    margin-right: 1%;
    text-decoration: none;
    font-size:larger;
    color: black;
}
.link:hover{
    background-color: black;
    color: white; 
    padding: 15px;
}
.container{
    height: 89vh;
    display: flex;
    justify-content: center;
}
.title{
    color: rgb(0, 1, 1);
}